/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --padding-page: 10px;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --font-family: 'IBM Plex Mono', sans-serif;
  --color-header__lightbulb: #FF0070;
  --color-header__theme-menu: #FF0070;
  --color-heading: #DB00FF;
  --shadow-color: #FF0070;
  --color-header__title: #000028;
  --bg-color-header__title: #FF0070;
  --border-color-header: #FF0070;
  --font-size: 18px;
  --color-article__heading: #FF0070;
  --color-article__text: #F1B2CE;
  --margin-block-end-article: 50px;
  --margin-block-end-article__heading: 20px;
  --margin-block-end-article__text: 20px;
  --margin-block-end-header: 40px;
  --margin-block-end-article__title: 10px;
  --margin-block-end-main: 40px;
}
